#boundary {
    position: fixed;
    width: 100%;
    border-top: 1px solid black;
    bottom: 500px;
}

body {
    margin: 0;
    padding: 0;
}

#content {
    padding: 1em 1em 500px 1em;
}

*[data-more-url] {
    border-top: 1px solid red;
}

.loading {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}